[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql = "*"
mysql-connector-python = "*"
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-script = "*"
wtforms = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
