{% extends 'base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}

{% if user and user.is_authenticated %}
<div class="dashboard">Dashboard</div>
{% else %}
<div class="main">
<section id="signup" class="signup">
<div class="container">
<div class="signup-content">
<div class="signup-form">
<h2 class="form-title">Sign up</h2>

<form method="POST" class="register-form" id="register-form" action="{{ url_for('main.signup') }}">
  {{ signup_form.csrf_token }}
<div class="form-group">
<label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--<input type="text" name="name" id="name" placeholder="Your Name">-->
  {{ signup_form.name(placeholder="Your Name *(Optional)") }}
  {% for error in signup_form.name.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>
<div class="form-group">
<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--<input type="text" name="name" id="name" placeholder="Your Name">-->
  {{ signup_form.username(placeholder="Username") }}
  {% for error in signup_form.username.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>
<div class="form-group">
<label for="email"><i class="zmdi zmdi-email"></i></label>
<!--<input type="email" name="email" id="email" placeholder="Your Email">-->
  {{ signup_form.email(placeholder="Your Email") }}
  {% for error in signup_form.email.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>
<div class="form-group">
<label for="pass"><i class="zmdi zmdi-lock"></i></label>
<!--<input type="password" name="pass" id="pass" placeholder="Password">-->
  {{ signup_form.password(placeholder="Password") }}
  {% for error in signup_form.password.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>
<div class="form-group">
<label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
<!--<input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password">-->
  {{ signup_form.confirm_password(placeholder="Repeat your password") }}
  {% for error in signup_form.confirm_password.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>

<!--<div class="form-group terms">-->
<!--<input type="checkbox" name="agree-term" id="agree-term" class="agree-term">-->
<!--<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>-->
<!--</div>-->

<div class="form-group form-button">
  {{ signup_form.submit(class="form-submit") }}
<!--<input type="submit" name="signup" id="signup" class="form-submit" value="Register">-->
</div>
</form>
</div>
<div class="signup-image">
<figure><img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
  <button class="login-link">I am already member</button>

</div>
</div>
</div>
</section>
<section id="login" class="sign-in">
<div class="container">
<div class="signin-content">
<div class="signin-image">
<figure><img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signin-image.jpg" alt="sing up image"></figure>
  <button class="signup-link">Create an account</button>
</div>
<div class="signin-form">
<h2 class="form-title">Login</h2>
<form method="POST" class="register-form" id="login-form" action="{{ url_for('main.login') }}">
<div class="form-group">
<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--<input type="text" name="username" id="your_name" placeholder="Your Name">-->
{{ login_form.username(placeholder="Username") }}
{% for error in login_form.username.errors %}
<span class="text-danger">{{ error }}</span>
{% endfor %}
</div>
<div class="form-group">
<label for="password"><i class="zmdi zmdi-lock"></i></label>
<!--<input type="password" name="your_pass" id="your_pass" placeholder="Password">-->
        {{ login_form.password(placeholder="Password") }}
        {% for error in login_form.password.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
</div>
<div class="form-group">
<input type="checkbox" name="remember-me" id="remember-me" class="agree-term">
<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
</div>
<div class="form-group form-button">
<!--<input type="submit" name="signin" id="signin" class="form-submit" value="Log in">-->
  {{ login_form.submit(class="form-submit", value="Log in") }}
</div>
</form>
<div class="social-login">
<span class="social-label">Or login with</span>
<ul class="socials">
<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
</div>
{% endif %}

<script>
const signUpSection = document.querySelector('.signup');
const signInSection = document.querySelector('.sign-in');
const signUpLink = document.querySelector('.signup-link');
const signInLink = document.querySelector('.login-link');

signUpLink.addEventListener('click', function(e) {
  e.preventDefault();
  signUpSection.classList.remove('hidden');
  signInSection.classList.add('hidden');
});

signInLink.addEventListener('click', function(e) {
  e.preventDefault();
  signUpSection.classList.add('hidden');
  signInSection.classList.remove('hidden');
});
</script>
{% endblock %}
